*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: 18px/36px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #6c55e1;
}
.header 
{
    background: white;
    height: 80px;
    width: 100%;    
}

label.icon 
{
    color: #6c55e1;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

label.icon span
{
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.header ul 
{
    float: right;
    margin-right: 20px;
}

.header ul li 
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.header ul li a 
{
    color: #6c55e1;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.header ul li a.main {
        color: #fff;
}

a.main, .header ul li a:hover {
    background: #6c55e1;
    transition: .3s;
    color: #fff;
}

#check {
    display: none;
}

.checkbut
{
    display: none;
}

/*allow us*/
.Navigation-Body p
{
    margin: 20px;
    text-align: center;
    font-size: 45px;
}



/* Anggota*/
.body
{
    background-color: white;
}

.Anggota
{
    padding: 20px;
    background-image: linear-gradient(white, #6c55e1);
    display: flex;
    flex-direction:row;
    image-resolution: 100px;
    text-align: left;
    width: 100%;
}

img
{
    max-width: 152px;
    max-height: 196px;
    border-radius: 20px;
}

.Anggota1
{
    flex-direction:column;
    padding: 20px;
    background-color: white;
    margin: 5px;
    flex: 20%;
    border-radius: 20px;
    border-style: solid;
    border-color: #6c55e1;
    border-width: 5px;
}

.Anggota2
{
    flex-direction:column;
    padding: 20px;
    background-color: white;
    margin: 5px;
    flex: 20%;
    border-radius: 20px;
    border-style: solid;
    border-color: #6c55e1;
    border-width: 5px;
}

.Anggota3
{
    flex-direction:column;
    padding: 20px;
    background-color: white;
    margin: 5px;
    flex: 20%;
    border-radius: 20px;
    border-style: solid;
    border-color: #6c55e1;
    border-width: 5px;
}
.Anggota4
{
    flex-direction:column;
    padding: 20px;
    background-color: white;
    margin: 5px;
    flex: 20%;
    border-radius: 20px;
    border-style: solid;
    border-color: #6c55e1;
    border-width: 5px;
}

.Anggota5
{
    flex-direction:column;
    padding: 20px;
    background-color: white;
    margin: 5px;
    flex: 20%;  
    border-radius: 20px;
    border-style: solid;
    border-color: #6c55e1;
    border-width: 5px;
}

/* Penutup*/
.footer
{
    width: auto;
    height: 90px;
    background-color: #6c55e1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 15px;
    display: block;
    box-sizing: border-box;
}

.footer h1
{
    color: white;
}

/*=============================media*/
@media screen and (min-width: 300px)
{
    .Navigation
    {
        width: 100%;
    }

    .footer
    {
        width: 100%;
    }

    .Anggota
    {
        flex-direction: column;
    }
}

@media screen and (min-width: 1080px)
{
    .Navigation
    {
        max-width: 100%;
    }

    .footer
    {
        max-width: 100%;
    }

    .Anggota
    {
        flex-direction: row;
    }
}